services:
  postgres:
    image: bitnami/postgresql:latest
    container_name: tcc-back
    ports:
      - '5433:5432'
    environment:
      - POSTGRESQL_USERNAME=tcc
      - POSTGRESQL_PASSWORD=tcc123
      - POSTGRESQL_DATABASE=tcc-back
    volumes:
      - postgres_data:/bitnami/postgresql

volumes:
  postgres_data:
